.mycollapse {
    @include to(t) {
        display:none;
    }
}
.mycollapse.in{
    display:block;
}
.mynavbar-brand{
    color:#fff;
    font-size:2rem;
    &:hover{
        color:#fff;
        text-decoration:none;
    }
}

.mynavbar{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    min-height:50px;
    z-index:999;
    padding:5px 5px 5px 5px;
    background: rgba(243,129,129,0.9);
    transition: .3s ease-out;
    /* transform: translateY(-100%); */
    margin:0 auto;
    @include to(t) {
        background: rgba(243,129,129,0.9);
    }
}

.mynavbar-stick{
    transform: translateY(0%);
}
.mynavbar-header{
    padding:0 30px;
    @include from(d) {
        float:left;
    }
}
.mynavbar-right{
    @include from(d) {
        position:relative;
        float:right;
    }
}
.mynavbar-collapse{
    position:relative;
    float:right;
    margin-top:5px;
    @include to(t) {
        position: absolute;
        left: 0;
        width: 100%;
    }
}
.mynavbar-nav{
    li{
        font-family: "Montserrat",Arial,sans-serif;
        font-size:1.4rem;
        line-height:2.2;
        padding: 2px 20px;
        text-transform:uppercase;
        cursor: pointer;
        text-align: center;
        display:inline-block;
        @include to(t) {
            display: block;
            border-bottom: 1px solid rgba(192,57,43,.5);
            background: rgba(243,129,129,0.9);
        }
        @include from(d) {
            &.active{
                a{
                    color: #fce38a;
                    border-bottom-color:#fce38a;
                }

            }
        }
        @include to(t) {
            &.active{
                a{
                    color: #fce38a;
                }

            }
        }


        a{
            color:#fff;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            border-top: 3px solid transparent;
            transition: .3s ease-out;
            display:block;
            &:hover{
                color: #fce38a;
                border-bottom-color:#fce38a;
            }
            @include to(t){
                &:hover{
                    color: #c0392b;
                    border-color:transparent;
                }
            }

        }
    }
}
.burger-menu{
  display:none;
  position:relative;
  float:right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  @include to(t) {
    display: block;
  }
}
.burger{
  position: absolute;
  background: rgba(256,256,256,1);
  width: 100%;
  height: 2px;
  top: 50%;
  right: 0;
  margin-top: -5px;
  opacity: 1;
  &:before {
      position: absolute;
      background: rgba(256,256,256,1);
      width: 50px;
      height: 2px;
      top: 20px;
      content: "";
      display: block;
  }
  &:after{
    position: absolute;
    background: rgba(256,256,256,1);
    width: 50px;
    height: 2px;
    bottom: 20px;
    content: "";
    display: block;
  }
}

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
  transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
  transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}


/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
.banner--clone {

  /* Required styles */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  /* Additional styles */
  background: #c95a5d;

  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);

  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;

}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
.banner--stick {

  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
.banner--unstick {
  /* Not required to use, but could be useful to have */
}