/*
# ===============================================
# Block specific
# ===============================================
*/

.block1{
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
}

.about-us{
    &-overlay-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        & > * {
            display:block;
            margin: 5px auto;
        }
    }
    &-item{
        cursor: pointer;
        &:hover &-overlay{
            display:block;
        }
        &-overlay{
            background: linear-gradient(#f38181, #fce38a);
            position: absolute;
            width: 100%;
            height: 250px;
            top: 0;
            opacity: .9;
            display: none;
            color:#fff;
            font-family: "Montserrat";
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            text-align:center;
        }
        &-wrapper{
            margin:0 auto;
            transition: ease-out 0.5s;
            position: relative;
            overflow: hidden;
            max-width: 380px;
            &:hover{
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35), 7px 7px 0 0 #95e1d3;
                transform: translateY(-5px);
            }
        }
    }
}

.block2 {
    background-color: $c-riptide;
    & .numbers-item {
        border:1px solid transparent;
        color:#fff;
        font-family: "Montserrat Bold";
        padding-top:85px;
        padding-bottom:85px;
        min-height:106px;//need for full border
        @include to(d) {
            padding-top:3vw;
            padding-bottom:1vw;
        }
        @include to(m) {
            border-bottom: 1px solid rgba(255,255,255, 0.4);
        }
        @include from(t) {
            border-right: 1px solid rgba(255,255,255, 0.4);
        }
        &.first {
            border-left: 1px solid rgba(255,255,255, 0.4);
        }
        &.last {
            @include to(m) {
                border-right: 1px solid transparent;
            }
        }
    }
    & .numbers-count{
        font-size: 7.2rem;
        margin:0;
        @include to(t) {
            font-size: 3rem;
        }
    }
    & .numbers-desc{
        font-size: 1.4rem;
    }
}

.block3{
    & .inner {
        padding-top:110px;
        padding-bottom:125px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    & .services {
        padding: 0 4vw;
        &-img{
            position: absolute;
            top: 5px;
            left: 0;
        }
        &-item{
            padding-left: 50px;
            position: relative;
            padding-bottom: 30px;
        }
        &-title{
            font-family: "Montserrat Bold";
            text-transform: uppercase;
            font-size:1.4rem;
        }
        &-desc{
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            color: #999999;
        }
    }
}

.block4{
    & .inner {
        padding-top:110px;
        padding-bottom:125px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    position:relative;
    background: url(../img/bg/bg-devices.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.block6{
    background-color: $c-grey;
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
}
.slider-img{
    max-width: 150px;
    max-height: 150px;
    border: 2px solid $c-riptide;
    margin:0 auto 15px;
}
.slider-content{
    font: italic 300 2.4rem/3.6rem Roboto,Arial,sans-serif;
    color: #999;
}
.slider-author {
    position:relative;
    padding:0 0 0 6rem;
    font: 400 2.4rem/3.6rem Kaushan,Arial,sans-serif;
    color: #333;
    &:before {
        content: '';
        position: absolute;
        height: 3px;
        bottom: 50%;
        width: 50px;
        left: 0;
        background-color: #f38181;
    }
}
.block7 {
    & .inner {
        padding-top:100px;
        padding-bottom:100px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    & .team {
        margin-bottom:20px;
        &-name{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
            margin-top: 30px;
        }
        &-position{
            font-family: 'Roboto', sans-serif;
            color: #999999;
            font-style: italic;
        }
    }
}

.team-item-wrapper {
    transition: ease-out 0.5s;
    position:relative;
    overflow:hidden;
    max-width:380px;
    &:hover {
        box-shadow: 0 3px 7px 0 rgba(0,0,0,.35), 7px 7px 0 0 #95e1d3;
        transform: translateY(-5px);
    }
}
.team-overlay {
    background: linear-gradient(#f38181,#fce38a);
    position: absolute;
    width: 100%;
    height: 470px;
    top: 0;
    opacity: .9;
    display: none;
}

.team-soclinks {
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    line-height:56px;
    display:block;
    font-size: 1.5em;
    li {
        display:inline-block;
        margin-right:-6px;
        a{
            display:block;
            background-color: #fce38a;
            color: #f38181;
            width: 56px;
            height: 56px;
            &:hover{
                background-color: #f38181;
                color:#fff;
            }
        }
    }
}
.team-item{
    &:hover .team-overlay {
        display:block;
    }
}

.block8 {
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    background-color:$c-grey;
}
//block9
.block9 {
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
}

.work-item {
    padding:0;
    &-wrap{
        max-width:480px;
        position:relative;
    }
    &-overlay{
        background: linear-gradient(180deg,hsla(0,83%,73%,.8),hsla(47,95%,76%,.8));
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        opacity:0;
        transition: .3s ease-out;
        max-width:480px;
    }
}

.work-item:hover .work-item-overlay {
    opacity:1;
}

.work-overlay{
    &-inner  {
        @extend %abs-center;
        color: #fff;
    }
    &-title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    &-span{
        font-family: "Roboto Light Italic",sans-serif;
        font-size: 1.5rem;
    }
}
//end-of-block9
//block11
.block11{
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    position:relative;
    background: url(../img/bg/bg-clients.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.clients{
    &-item{
        position: relative;
        margin-bottom: 15px;
        @include to(t) {
            text-align:center;
        }
    }
    &-img{
        margin-bottom: 10px;
    }
    &-name{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin:0;
        margin-bottom: 10px;
    }
    &-position{
        font-family: "Roboto Light Italic",sans-serif;
        font-size: 1.5rem;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 1vw;
        display:block;
        &:after {
            content: "";
            height: 3px;
            background: #f38181;
            bottom: 0;
            width: 60px;
            position: absolute;
            left: 0;
            @include to(t) {
                left:46%;
                width: 7%;
            }
        }
    }
    &-desc{
        color: #999;
    }
}
.block13{
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    position:relative;
    background: url(../img/bg/bg-map.jpg);
    background-position: center center;
    background-size: cover;
    color:$c-light-coral;
    a{
        color:$c-light-coral;
        text-decoration:none;
    }
    & .inner {
        padding: 30px 0 50px 0;
    }
    span {
        font-size:2rem;
    }
}
.open-map-link{
    text-transform:uppercase;
    font-weight: bold;
    position:relative;
    font-size:2rem;
    margin:10px 0 0 0;
    &:after {
        content: '';
        position: absolute;
        height: 3px;
        bottom: -15px;
        width: 8%;
        left: 46%;
        background-color: $c-light-coral;
    }
}