.header {
  position:relative;
  background: url(../img/bg/bg-header.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height:750px;
  //@include debug-color;
  & .container{
    @include to(t) {
        width:100%;
        padding:0;
        margin:0;
    }
  }
}
