/*
# ===============================================
# Layout
# ===============================================
*/
.sec-subtitle{
    color:#000;
    font-family: "KaushanScript Regular";
    font-size: 2.4rem;
}
.sec-title{
    color:#000;
    font-family: "Montserrat Bold";
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 3vw;
    margin:0;
    margin-bottom:50px;
    @include to(d) {
        margin-bottom:4vw;
    }
    &:after {
        content: '';
        position: absolute;
        height: 3px;
        bottom: 0;
        width: 7%;
        left: 46%;
        background-color: #f38181;
    }
}
.sec-desc{
    color: #999;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-bottom:100px;
    @include to(d) {
        margin-bottom:4vw;
    }
}

/*
# ===============================================
# Block specific
# ===============================================
*/

.block1{
    & .inner {
        padding-top:70px;
        padding-bottom:70px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    & .images {
        & > *{
            @include to(t) {
              padding-top: 20px;
            }
        }
        &-item{
            color:red;
            background-color: $c-riptide;
            cursor: pointer;
        }
    }
}

.block2 {
    background-color: $c-riptide;
    & .numbers-item {
        border:1px solid transparent;
        color:#fff;
        font-family: "Montserrat Bold";
        padding-top:85px;
        padding-bottom:85px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
        @include to(m) {
            border-bottom: 1px solid rgba(255,255,255, 0.4);
        }
        @include from(t) {
            border-right: 1px solid rgba(255,255,255, 0.4);
        }
        &.first {
            border-left: 1px solid rgba(255,255,255, 0.4);
        }
        &.last {
            @include to(m) {
                border-right: 1px solid transparent;
            }
        }
    }
    & .numbers-count{
        font-size: 7.2rem;
        margin:0;
    }
    & .numbers-desc{
        font-size: 1.4rem;
    }
}

.block3{
    & .inner {
        padding-top:110px;
        padding-bottom:125px;
        @include to(d) {
            padding-top:4vw;
            padding-bottom:4vw;
        }
    }
    & .services {
        padding: 0 4vw;
        &-img{
            position: absolute;
            top: 5px;
            left: 0;
        }
        &-item{
            padding-left: 50px;
            position: relative;
            padding-bottom: 30px;
        }
        &-title{
            font-family: "Montserrat Bold";
            text-transform: uppercase;
            font-size:1.4rem;
        }
        &-desc{
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            color: #999999;
        }
    }
}