section#open-map.block13
  .container
    .inner
      .row.text-center
        span
          i.fa.fa-map-marker
        h3.open-map-link
          a(href="" type="button" id="open-map-btn") Open Map
        .modal.fade(tabindex='-1', role='dialog', aria-labelledby='gridSystemModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close' class="modal-close-btn")
                  span(aria-hidden='true') &times;
                h4#gridSystemModalLabel.modal-title Modal title
              .modal-body
                div.embed-responsive.embed-responsive-4by3
                  iframe( class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="560" height="450" frameborder="0" style="border:0" allowfullscreen)
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal' class="modal-close-btn") Close