section#block2.block2
  .container-fluid.container-md
    .inner
      .row.numbers.text-center
        .col-sm-2-4.numbers-item.first
          h3.numbers-count#countUp1 41
          span.numbers-desc web design projects
        .col-sm-2-4.numbers-item
          h3.numbers-count#countUp2 42
          span.numbers-desc happy client
        .col-sm-2-4.numbers-item
          h3.numbers-count#countUp3 43
          span.numbers-desc award winner
        .col-sm-2-4.numbers-item
          h3.numbers-count#countUp4 44
          span.numbers-desc cup of coffee
        .col-sm-2-4.numbers-item.last
          h3.numbers-count#countUp5 45
          span.numbers-desc members
