section#block7.block7
  .container
    .inner
      .row.text-center
        h4.sec-subtitle Who we are
        h2.sec-title Meet our team
        .sec-desc
         | Topping lollipop jelly chupa chups biscuit powder. Candy icing gingerbread pudding danish sweet roll. Cupcake cake candy canes cotton candy tootsie roll cheesecake.Croissant gummies apple pie caramels soufflé candy canes tootsie.
      .row.team
        .col-xs-12.col-sm-12.col-md-4.item
          figure.team-item
            .team-item-wrapper.center-block
              img( class="center-block" src="img/photo/team-1.jpg" alt="")
              .team-overlay
                ul.team-soclinks
                  li
                    a(href="#")
                      i(class="fa fa-facebook" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-twitter" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-pinterest-p" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-instagram" aria-hidden="true")
            figcaption.text-center
              h5.team-name matthew dix
              span.team-position Graphic Design
        .col-xs-12.col-sm-12.col-md-4.item
          figure.team-item
            .team-item-wrapper.center-block
              img( class="center-block" src="img/photo/team-2.jpg", alt="")
              .team-overlay
                ul.team-soclinks
                  li
                    a(href="#")
                      i(class="fa fa-facebook" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-twitter" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-pinterest-p" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-instagram" aria-hidden="true")
            figcaption.text-center
              h5.team-name christopher campbell
              span.team-position Branding/UX design
        .col-xs-12.col-sm-12.col-md-4.item
          figure.team-item
            .team-item-wrapper.center-block
              img( class="center-block" src="img/photo/team-3.jpg", alt="")
              .team-overlay
                ul.team-soclinks
                  li
                    a(href="#")
                      i(class="fa fa-facebook" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-twitter" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-pinterest-p" aria-hidden="true")
                  li
                    a(href="#")
                      i(class="fa fa-instagram" aria-hidden="true")
            figcaption.text-center
              h5.team-name Michael fertig
              span.team-position Developer