section#block1.block1
  .container
    .inner
      .row.text-center
        h4.sec-subtitle What we do
        h2.sec-title Story About Us
        .sec-desc
         | Topping lollipop jelly chupa chups biscuit powder. Candy icing gingerbread pudding danish sweet roll. Cupcake cake candy canes cotton candy tootsie roll cheesecake.Croissant gummies apple pie caramels soufflé candy canes tootsie roll caramels cookie.
      .row.images
        .col-xs-12.col-sm-12.col-md-4
          .images-item
            img( class="center-block" src="img/photo/pic-1.jpg", alt="")
        .col-xs-12.col-sm-12.col-md-4
          .images-item
            img( class="center-block" src="img/photo/pic-2.jpg", alt="")
        .col-xs-12.col-sm-12.col-md-4
          .images-item
            img( class="center-block" src="img/photo/pic-3.jpg", alt="")
