mixin ximg(imgsrc)
  .col-xs-12.col-sm-6.col-md-3.work-item.text-center
    .work-item-wrap.center-block
      img( class="center-block" src=imgsrc, alt="")
      .work-item-overlay
        .work-overlay-inner
          img(src="img/icons/work-picture.png", alt="")
          h4.work-overlay-title Creatively designed
          span.work-overlay-span Chocolate bar cake sweet roll
section#block9.block9
  .container
    .inner
      .row.text-center
        h4.sec-subtitle What we do
        h2.sec-title Some of our work
        .sec-desc
         | Topping lollipop jelly chupa chups biscuit powder. Candy icing gingerbread pudding danish sweet roll. Cupcake cake candy canes cotton candy tootsie roll cheesecake.Croissant gummies apple pie caramels soufflé candy canes tootsie.
      .row.work-gallery
        +ximg("img/photo/work-item-1.jpg")
        +ximg("img/photo/work-item-2.jpg")
        +ximg("img/photo/work-item-3.jpg")
        +ximg("img/photo/work-item-4.jpg")
        +ximg("img/photo/work-item-6.jpg")
        +ximg("img/photo/work-item-7.jpg")
        +ximg("img/photo/work-item-1.jpg")
        +ximg("img/photo/work-item-2.jpg")

