mixin ximg(imgsrc)
  .col-xs-12.col-sm-12.col-md-4
    .post.center-block.clearfix
      a(href="#")
        figure.post-img.center-block.effect-jazz
          img( src=imgsrc, alt="")
          .post-date
            p.post-number 15
            p.post-month Jan
          figcaption
        h5.post-title Cupcake Ipsum Dolor Sit
        p.post-excerption
          | Cheesecake cake cupcake candy canes tart tiramisu marzipan tootsie roll. Oat cake gummies caramels. Danish gingerbread apple pie pastry I love liquorice.
      .post-footer.col-xs-12
        a(href="#").post-views 542
        a(href="#").post-comments 17
section#block12.block12
  .container
    .inner
      .row.text-center
        h4.sec-subtitle Our stories
        h2.sec-title Latest blog
      .row
        +ximg("img/photo/blog-1.jpg")
        +ximg("img/photo/blog-2.jpg")
        +ximg("img/photo/blog-3.jpg")