mixin srv-item(title,imgsrc)
  .col-xs-12.col-sm-12.col-md-4.services-item
    .services-img
      img(src=imgsrc, alt="altname")
    h5.services-title #{title}
    .services-desc
      |Lorem ipsum dolor sit amet, consectetur.Lorem ipsum dolor sit amet, consectetur.


section#block3.block3
  .container
    .inner
      .row.text-center
        h4.sec-subtitle We work with
        h2.sec-title Amazing Services
      .row.services
        +srv-item("photography","img/icons/service-1.png")
        +srv-item("web design","img/icons/service-2.png")
        +srv-item("creativity","img/icons/service-3.png")
        hr.col-xs-12.visible-md-block.visible-lg-block
        +srv-item("seo","img/icons/service-4.png")
        +srv-item("css/html","img/icons/service-5.png")
        +srv-item("digital","img/icons/service-6.png")