section#block6.block6
  .container
    .inner
      #slider1
        div
          .col-xs-12.col-sm-12.col-md-3
            img(src="img/photo/slider-1.jpg", alt="" class = "slider-img")
          .col-xs-12.col-sm-12.col-md-9
            .slider-content "Topping sesame snaps pie carrot cake macaroon croissant cake jujubes cookie. Marzipan tootsie roll soufflé chocolate I love. Bonbon I love wafer pie candy canes marshmallow. Cupcake jujubes croissant soufflé bear claw candy cupcake."
            .slider-author John Doe
        div
          .col-xs-12.col-sm-12.col-md-3
            img(src="img/photo/slider-2.jpg", alt="" class = "slider-img")
          .col-xs-12.col-sm-12.col-md-9
            .slider-content "Topping sesame snaps pie carrot cake macaroon croissant cake jujubes cookie. Marzipan tootsie roll soufflé chocolate I love. Bonbon I love wafer pie candy canes marshmallow. Cupcake jujubes croissant soufflé bear claw candy cupcake."
            .slider-author John Doe
        div
          .col-xs-12.col-sm-12.col-md-3
            img(src="img/photo/slider-3.jpg", alt="" class = "slider-img")
          .col-xs-12.col-sm-12.col-md-9
            .slider-content "Topping sesame snaps pie carrot cake macaroon croissant cake jujubes cookie. Marzipan tootsie roll soufflé chocolate I love. Bonbon I love wafer pie candy canes marshmallow. Cupcake jujubes croissant soufflé bear claw candy cupcake."
            .slider-author John Doe
        div
          .col-xs-12.col-sm-12.col-md-3
            img(src="img/photo/slider-4.jpg", alt="" class = "slider-img")
          .col-xs-12.col-sm-12.col-md-9
            .slider-content "Topping sesame snaps pie carrot cake macaroon croissant cake jujubes cookie. Marzipan tootsie roll soufflé chocolate I love. Bonbon I love wafer pie candy canes marshmallow. Cupcake jujubes croissant soufflé bear claw candy cupcake."
            .slider-author John Doe
