section#block8.block8
  .container
    .inner
      .row.text-center
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-01.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-02.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-03.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-04.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-05.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.col-lg-2
          img(src="img/photo/logo-06.png", alt="")