extends _layout
block content
  include _block1
  //- include _block2
  //- include _block3
  //- include _block5
  //- include _block7
  //- include _block8
  //- include _block9
  //- include _block11
  //- include _block12