footer#contact.footer.tracked
    .footer-main
      .container
        .inner
          .row
            .col-xs-12.col-sm-12.col-md-4
              .footer-logo MoGo
              .footer-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .footer-follow
                .footer-follow-top
                  span.large-text 15k
                  |  followers
                .footer-follow-list
                  span Follow Us:
                  ul
                    li
                      a(href="#")
                        i.fa.fa-facebook
                    li
                      a(href="#")
                        i.fa.fa-twitter
                    li
                      a(href="#")
                        i.fa.fa-instagram
                    li
                      a(href="#")
                        i.fa.fa-pinterest
                    li
                      a(href="#")
                        i.fa.fa-google-plus
                    li
                      a(href="#")
                        i.fa.fa-youtube
                    li
                      a(href="#")
                        i.fa.fa-dribbble
                    li
                      a(href="#")
                        i.fa.fa-tumblr
                .footer-follow-form
                  form(action="action.php")
                    input(type="email" placeholder= "Enter your email...")
                    input(type="submit" value="Subscribe")
            .col-xs-12.col-sm-12.col-md-4
              h3.footer-block-title Blogs
              .row
                .col-xs-12.footer-blog-item
                  .row
                    a(href="#")
                      .col-xs-3.col-sm-3.col-md-4
                        .footer-blog-img.effect-jazz.center-block
                          img(src="img/photo/footer_blog-1.jpg", alt="lamp")
                      .col-xs-9.col-sm-9.col-md-8
                        h4.footer-blog-title
                          |Lorem ipsum dolor sit amet,consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
                .col-xs-12.footer-blog-item
                  .row
                    a(href="#")
                      .col-xs-3.col-sm-3.col-md-4
                        .footer-blog-img.effect-jazz.center-block
                          img(src="img/photo/footer_blog-2.jpg", alt="lamp")
                      .col-xs-9.col-sm-9.col-md-8
                        h4.footer-blog-title
                          |Lorem ipsum dolor sit amet,consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
                .col-xs-12.footer-blog-item
                  .row
                    a(href="#")
                      .col-xs-3.col-sm-3.col-md-4
                        .footer-blog-img.effect-jazz.center-block
                          img(src="img/photo/footer_blog-3.jpg", alt="lamp")
                      .col-xs-9.col-sm-9.col-md-8
                        h4.footer-blog-title
                          |Lorem ipsum dolor sit amet,consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
            .col-xs-12.col-sm-12.col-md-4
              h3.footer-block-title Instagram
              .row
                .col-xs-12.footer-instagram.text-center
                  ul.text-left
                    li
                      a(href="#")
                        img(src="img/photo/inst-1.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-2.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-3.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-4.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-5.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-6.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-7.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-8.jpg", alt="")
                    li
                      a(href="#")
                        img(src="img/photo/inst-9.jpg", alt="")
                .col-xs-12.text-left
                  a(href="#" class= "view-more-btn") View more photos
    .footer-bottom
      .container
          .row
            .col-xs-12.text-center
              h4.footer-bottom-text © 2016 MoGo free PSD template by
                span.pink
                  |  Laaqiq
