header#header.header.portion
  p Header
  .container
    .row
      .col-xs-12
        nav.mynavbar
          .mynavbar-header.clearfix
            a.mynavbar-brand
            div.burger-menu
              span.burger
          .mynavbar-collapse.mycollapse
            ul.mynav.mynavbar-nav.mynavbar-right
              li
                a(href="#" class="active") About
              li
                a(href="#") Service
              li
                a(href="#") Work
              li
                a(href="#") Blog
              li
                a(href="#") Contact