header#header.header.portion
  .container
    .row
      .col-xs-12
        nav.mynavbar.clearfix
          .container
            .mynavbar-header.clearfix
              a(href="#" class="mynavbar-brand")
                | MoGo
              div.burger-menu
                span.burger
            .mynavbar-collapse.mycollapse
              ul.mynav.mynavbar-nav.mynavbar-right
                li.active
                  a(href="#about") About
                li
                  a(href="#service") Service
                li
                  a(href="#work") Work
                li
                  a(href="#blog") Blog
                li
                  a(href="#contact") Contact